<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jackets</title>
</head>
<body>

{% extends 'base.html' %}


{% block content %}
<h1>Jackets</h1>
<p>Jackets, coats, umbrellas were waiting for them at a cloakroom, nothing more.<br>
Jackets can be decorated with different elements or prints.</p>
<p>Jackets, coats, umbrellas were waiting for them at a cloakroom, nothing more.<br>
Jackets can be decorated with different elements or prints.</p>
<p>Jackets, coats, umbrellas were waiting for them at a cloakroom, nothing more.<br>
Jackets can be decorated with different elements or prints.</p>
{% endblock %}

</body>
</html>