<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shoes</title>
</head>
<body>

{% extends 'base.html' %}

{% block content %}
<h1>Shoes</h1>
<p>Approximately the same principles for determining the size of shoes
    are relevant for modern women's shoes.</p>
<p>Approximately the same principles for determining the size of shoes
    are relevant for modern women's shoes.</p>
<p>Approximately the same principles for determining the size of shoes
    are relevant for modern women's shoes.</p>
{% endblock %}

</body>
</html>